$largest-breakpoint : 1007px;

.container{
	margin: 0 auto;
	border:1px solid red;
	
	@media (min-width:$largest-breakpoint){
		width:40em;
	}
	
	@media (min-width: $largest-breakpoint){
		width:55em;	
	}
}

.mainContent{
	position:fixed;
	top:97px;
	margin-top:20px;
}

.fixedPos{
	position:fixed;
	top:0;
	width:100%;
	max-height: 79px;
	overflow:hidden;
}

.fixedPos2{
	position: fixed;
	top:79px;
}

.col-container{
	@include clearfix;
	
}
.col{
	margin-top:1em;
	padding-top:1em;
	border-top:1px solid blue;
	min-height:200px;
	&:first-child{ margin-top:0; padding-top:0; border:none; }
	
	@media (min-width:$largest-breakpoint){
		float:left;	
		margin-top:0;
		padding-top:0;
		border:none;
	}
}

.col-1{ background:purple; width:100%; }

.col-2{
	
	background:orange;
	@media (min-width:$largest-breakpoint){
		width:48.75%;
		margin-left:2.5%;
		&:first-child{ margin-left:0; }
	}
}

.col-3{
	outline:1px solid red;
	float:left;
	width:313px;
	min-height:333px;
	margin:0;
	/*padding:17px 17px 34px;*/
	position: relative;
	
	@media (min-width:$largest-breakpoint){
		width:32%;
		margin-left:2%;
		&:first-child{ margin-left:0; }
	}
}

.description{
	color:#444;
	margin:.250em 0 .357em;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.subtitle{ color:#555555; font:700 .688em/1.091em "Helvetica Neue",Helvetica,Arial,sans-serif; letter-spacing:1px; margin:0 0 .364em; }

.smallText {
	font: 100%/120% "source-sans-pro","Helvetica Neue",sans-serif;
}