$largest-breakpoint : 1007px;

.container{
	margin: 0 auto;
	/*border:1px solid red;*/
	
	@media (min-width:$largest-breakpoint){
		width:40em;
	}
	
	@media (min-width: $largest-breakpoint){
		width:61em;	
	}
}

.mainContent{
	/*position:fixed;
	top:97px;margin-top:20px;*/
	margin-top: 73px;
	
}

.fixedPos{
	padding:10px;
	position:fixed;
	top:0;
	width:100%;
	max-height: 54px;
	overflow:hidden;
	z-index: 1000;
	-webkit-box-shadow: $boxshadow;
	box-shadow: $boxshadow;
	border-bottom-width: 0;
	background-color:$backgroundc;
}

.fixedPos2{
	position: fixed;
	top:79px;
	z-index: 1000;
}

.col-container{
	@include clearfix;
	
}

.border{
	margin-bottom:10px;
	border-bottom: $borderstyle;
}
.containerofarticle{
	border-left: $borderstyle;
	padding-left:8%;
}
.col{
	margin-top:1em;
	padding-top:1em;
	
	/*border-top:1px solid blue;*/
	/*min-height:200px;*/
	&:first-child{ margin-top:0; padding-top:0; border:none; }
	
	@media (min-width:$largest-breakpoint){
		float:left;	
		margin-top:0;
		padding-top:0;
		border:none;
	}
}

.col-1{ background:$backgroundc; width:100%; border-bottom: $borderstyle;}

.col-2{
	
	background:$backgroundc;
	@media (min-width:$largest-breakpoint){
		width:66%;
		margin-left:2.5%;
		&:first-child{ margin-left:0; }
	}
}

.col-3{
	/*outline:1px solid red;*/
	float:left;
	width:313px;
	/*min-height:333px;*/
	margin:0;
	/*padding:17px 17px 34px;*/
	position: relative;
	padding-bottom: 80px;
	@media (min-width:$largest-breakpoint){
		width:32%;
		margin-left:2%;
		&:first-child{ margin-left:0; }
	}
}

.description{
	color:$desfont-colour;
	margin:.250em 0 .357em;
	display: block;
	
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.subtitle{ color:$subfont-colour; font: $primary-font; font-weight:bold; letter-spacing:1px; margin:0 0 .364em; @include font-size(8)}

.smallText {
	margin:0 0 0.5em;
	font: $primary-font; @include font-size(8)
}

.changestyle{
	float:none;
}

.float{
	float:left;
	max-width:30%;
}

