.main-nav{
	float:left;
	ul{ padding:0; margin:0; }
	
	li{ margin-top:1em; list-style:none; }
	li:first-child{ padding-left: 90px; margin-top:0;}
	a{ display:block; color:$link-colour; text-decoration:none; font:$secondary-font; padding:1em; text-align:center; text-transform:uppercase; }
	a:first-child{ }
	a:hover{color:#0093cc;}
	@media (min-width:40em){
		ul { @include clearfix; }
		li { float:left; margin-left:1em; margin-top:0; }
		li:first-child{ margin-left:0; }
		a{ padding:0.5em 1em; text-align:center; }	
	}
}

.main-nav-right{
	float:right;
	ul{ padding:0; margin:0; }
	
	li{ margin-top:1em;}
	li:first-child{list-style:none; }
	li:last-child{ padding-right: 150px; margin-top:0;}
	a{ display:block; color:$link-colour; text-decoration:none; font:$secondary-font; padding:1em; text-align:center; @include font-size(9) }
	a:first-child{ }
	a:hover{color:#0093cc;}
	@media (min-width:40em){
		ul { @include clearfix; }
		li { float:left; margin-left:1em; margin-top:0; }
		li:first-child{ margin-left:0; }
		a{ padding:0.5em 1em; text-align:center; }	
	}
}