/*-- Normalize --*/
@import 'normalize';

/* -- Mixins -- */
@import 'mixins';

$largest-breakpoint : 1007px;
/*the default link colour*/
$link-colour: rgb(170, 170, 170);
$link-hover: #0093cc;
/*the background colour for most elements*/
$backgroundc: #fff;
/*the colour for the footer*/
$footercolour: #d6d6d6;
/*the style for the borders*/
$borderstyle: 1px solid #ebebeb;
/*box shadow style*/
$boxshadow : 0 0 2px 0 rgba(0,0,0,0.5);

/* -- Fonts -- */
$primary-font : "Helvetica Neue",Helvetica, Arial, sans-serif;
$secondary-font : "Helvetica Neue", Arial, sans-serif;
$headerfont-colour : #191919;
$desfont-colour : #444;
$subfont-colour : #555555;

body{font-family: $secondary-font; }
h1{ margin: 0; font: $primary-font; color:$headerfont-colour; @include font-size(22)}
h1:hover{
			color:$link-hover;
			cursor:pointer;
		}
h2{ margin: 0; font-family: $primary-font; @include font-size(17)}
h2:hover{ color:$link-hover; cursor:pointer;}
h3{ margin: 0; font-family: $primary-font; @include font-size(13) }
h3:hover{ color:$link-hover; cursor:pointer;}
h4{ margin: 1em 0 1em 0; font-family: $primary-font; font-weight:100; @include font-size(11) }
/* -- Banner Components -- */
.banner{
	height:300px;
	background:#000;
}
.grey{
	background:$footercolour;
}
/* -- Images -- */
img{
	max-width:100%;
	margin-bottom: .786em;
	/*height:170px;*/
}
.logo{
	max-width: 54px;
	display: block;
	margin-bottom: -12;
}

.links{
	
	ul{ padding:0; margin:0; }
	
	li{ margin-top:1em;}
	li:first-child{list-style:none; }
	
	a{ display:block; color:$link-hover;; text-decoration:none; font:$secondary-font; padding:1em; text-align:center; @include font-size(9) }
	a:hover {border:$borderstyle}
	@media (min-width:40em){
		ul { @include clearfix; }
		li { float:left; margin-top:0; }
		li:first-child{ margin-left:0; }
		a{ padding:0.5em 1em; text-align:center; }	
	}
}
/* -- Navigation components -- */
@import 'navigation';

/* -- Layout Components -- */
@import 'layout';