/*-- Normalize --*/
@import 'normalize';

/* -- Mixins -- */
@import 'mixins';

$largest-breakpoint : 1007px;
$link-colour: rgb(170, 170, 170);
$backgroundc: #fff;
$footercolour: #d6d6d6;
$borderstyle: 1px solid #ebebeb;
/* -- Fonts -- */
$primary-font : "Helvetica Neue",Helvetica, Arial, sans-serif;
$secondary-font : "Helvetica Neue", Arial, sans-serif;

body{font-family: $secondary-font; }
h1{ margin: 0; font: $primary-font; color: #191919; @include font-size(22)}
h2{ margin: 0; font-family: $primary-font; @include font-size(17) }
h3{ margin: 0; font-family: $primary-font; @include font-size(13) }
h4{ margin: 1em 0 1em 0; font-family: $primary-font; font-weight:100; @include font-size(11) }
/* -- Banner Components -- */
.banner{
	height:300px;
	background:#000;
}
.grey{
	background:$footercolour;
}
/* -- Images -- */
img{
	max-width:100%;
	margin-bottom: .786em;
	/*height:170px;*/
}
.logo{
	max-width: 54px;
display: block;
margin-bottom: -12;
}


/* -- Navigation components -- */
@import 'navigation';

/* -- Layout Components -- */
@import 'layout';